= render 'spree/admin/shared/areas_tabs'
- admin_breadcrumb(Spree.t(:settings))
- admin_breadcrumb(Spree.t('admin.tab.areas'))
- admin_breadcrumb(plural_resource_name(Spree::City))

%fieldset.no-border-top
  %h2 Import Files
  = form_tag import_admin_cities_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import"

%fieldset
  %h2 New City
  = form_for [:admin, @city] do |f| 
    = render :partial => 'form', :locals => { :f => f }
    .clear
    .form-buttons.filter-actions.actions{"data-hook" => "buttons"}
      = button Spree.t('actions.update')
